h1{
    color: aqua;
}
h1{
    color:black;
}

body{
background-image:url("https://media.istockphoto.com/id/1443409611/photo/man-on-stone-on-the-hill-and-beautiful-mountains-in-haze-at-colorful-sunset-in-autumn.jpg?s=612x612&w=0&k=20&c=dcyDpPqlhCWMZYgqgHSrJZdoaH_ARrlgkpUcARp1_GU=")
background-rep

}

h2{
    color: blueviolet ;
}

h1{
    background-color: #ff0000;
}

h2{
    background-color: blue;
}

<